name: Build & Push

on:
  workflow_call:
    inputs:
      subdirectory:
        type: string
        required: false

jobs:
  build-push:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Setup Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Get Visibility
        id: visibility
        run: |
          echo visibility=$(gh api "repos/${{ github.repository }}" --jq .visibility)  >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure remote
        id: remote
        run: |
          echo "registry=${{ steps.visibility.outputs.visibility == 'public' && 'ghcr.io' || '917951871879.dkr.ecr.eu-west-1.amazonaws.com' }}" >> $GITHUB_OUTPUT
          echo "repository=${{ steps.visibility.outputs.visibility == 'public' && github.repository || github.event.repository.name }}${{ inputs.subdirectory && format('/{0}', inputs.subdirectory) || '' }}" >> $GITHUB_OUTPUT

      - name: AWS Credentials
        if: ${{ steps.remote.outputs.registry == '917951871879.dkr.ecr.eu-west-1.amazonaws.com'}}
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::917951871879:role/GitHubActionsBgOrg
          aws-region: eu-west-1

      - name: ECR Login
        if: ${{ steps.remote.outputs.registry == '917951871879.dkr.ecr.eu-west-1.amazonaws.com'}}
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 #v2.0.1

      - name: Docker Login
        if: ${{ steps.remote.outputs.registry == 'ghcr.io' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract image metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ steps.remote.outputs.registry }}/${{ steps.remote.outputs.repository }}
          tags: |
              type=sha,prefix=git-
              type=raw,value=edge,enable={{is_default_branch}}

      - name: Build image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: "{{defaultContext}}:${{ inputs.subdirectory }}"
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true

      - name: Save metadata
        run: echo '${{ steps.build.outputs.metadata }}' > build-push-metadata.json

      - name: Upload metadata
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build-push-metadata.json
          path: build-push-metadata.json
